body{
    background-color: lavender;
}

.caja{
    padding: 20px;
    
    background:lightskyblue;
    border: solid 0.5px;
}

#contenedor{

    margin: 10 px;
    width:400 px;
    font-family: Arial;
    font-size: 24px;
}

.colorcoral{
    background: coral;
}